spring:
  application:
    name: Zivvo API
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          time_zone: UTC
  datasource:
    url: jdbc:postgresql://localhost:5432/zivvo?currentSchema=public
    username: zivvo
    password: password123
    driver-class-name: org.postgresql.Driver

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: alpha
    tags-sorter: alpha
    default-models-expand-depth: 1
    filter: true
  api-docs:
    path: /v3/api-docs
  show-actuator: false
